body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #3E2723;
}

header{
    background-color: #FFF8E1;
    color: #3E2723;
    text-align: center;
}

header h1{
    margin: 0 0 13;
}

nav a{
    color: aquamarine ;
    margin: 0 10;
    text-decoration: dashed;
}

nav a:hover {
    text-decoration: underline;
}

main{
    width: 90%;
    max-width: 900px;
    margin: 30px auto;
}
